# .gitignore for .NET MAUI & Node.js

# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.vspscc
*.vssscc
AppPackages/
BundleArtifacts/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Prisma
/prisma/migrations/

# Secrets & Keys
*.json
!package.json
!tsconfig.json
!package-lock.json
!composer.json
.env
secret.key
